################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/2020-2-Topicos/v16
/HelloWorld/HelloWorld/bin/Debug/netcoreapp3.1
/HelloWorld/HelloWorld/obj
/HelloWorld/HelloWorld.Veintiuno.Modelo/bin/Debug/netcoreapp3.1
/HelloWorld/HelloWorld.Veintiuno.Modelo/obj
/HelloWorld/HelloWorld.Veintiuno.Naipe/bin/Debug/netcoreapp3.1
/HelloWorld/HelloWorld.Veintiuno.Naipe/obj
/HelloWorld/.vs/HelloWorld
/.vs
/HelloWorld/EFCoreNorthWind.DataAccess/obj
/HelloWorld/EFCoreNorthWind.Model/obj
/HelloWorld/EFCoreNorthWind.UI.MVC/bin/Debug/netcoreapp3.1
/HelloWorld/EFCoreNorthWind.UI.MVC/obj
/HelloWorld/EFCoreNorthWind.UI.MVC/wwwroot
